.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.25rem;
}
.form {
  width: 20.5rem;
  display: flex;
  flex-direction: column;
}
.heading,
.fileInput,
.textInput {
  margin-bottom: 3.125rem;
}
.lastTextInput {
  margin-bottom: 2.6875rem;
}
.radioGroup {
  margin-bottom: 2.9375rem;
}
.submitButton {
  margin: 0 auto;
}