.button {
  background-color: var(--primary-color);
  border: none;
  min-width: 6.25rem;
  border-radius: 80px;
  font-size: 1rem;
  line-height: 1.625rem;
  padding: 0.25rem;
  text-align: center;
}

.button:hover {
  background-color: var(--primary-color__hovered);
}

.link {
  text-decoration: none;  
  color: #000000DE; /* TODO: move to vars */
  display: inline-block;
  box-sizing: border-box;
}