.header { 
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  width: 100%;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.8125rem 1rem;
}
.logo {
  margin-right: auto;
}
.nav {}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.li {
  display: inline;
}
.li:not(:last-of-type) {
  margin-right: 0.625rem;
}
@media screen and (min-width: 48em) {
  .wrapper {
    padding: 0.8125rem 2rem;
  }
}
@media screen and (min-width: 64em) {
  .wrapper {
    padding: 0.8125rem 3.75rem;
  }
}
@media screen and (min-width: 160em) {
  .wrapper {
    padding: 0.8125rem 0;
  }
}