.wrapper {
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
}

.header { 
  display: flex;
  align-items: center;
  padding: 0.8125rem 1rem;
}

.logo {
  margin-right: auto;
}

.nav {}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li {
  display: inline;
}
.li:not(:last-of-type) {
  margin-right: 0.625rem;
}