* {
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 16px; */
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;

  --primary-color: #f4e041;
  --primary-color__hovered: #ffe302;
  --disabled-color: #b4b4b4;
  --secondary-color: #00bdd3;
  --white-color: #ffffff;
  --white-color-rgb: 255, 255, 255;
  --bg-color: #f8f8f8;
  --error-color: #cb3d40;
  --text-black: rgba(0, 0, 0, 0.87);
  --text-gray: #7e7e7e;
  --border-color: #d0cfcf;
  /* 
  --sm-breakpoint: 360px; 22.5em
  --md-breakpoint: 768px; 48em
  --lg-breakpoint: 1024px; 64em
  --xl-breakpoint: 2560px; 160em
  */

  background: var(--bg-color);
  color: var(--text-black);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  line-height: 1.625rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 400;
}
